<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/Data_analysis_Peak_and_row(No_filtering).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [ ]:
def main_start(file_name):
  file_full = dataset_path + '/' + file_name
  df = pd.read_csv(file_full, skiprows=[1, 2])

  stripdata=df['signal'].str.strip("[")
  stripdata=stripdata.str.strip("]")
  data = stripdata.str.split(',', expand=True)

  data_num=df['row_num']
  dataset=pd.concat([data_num, data], axis=1)
  dataset.columns = ['row_num', 'before', 'after']

  dataset["after"]=dataset["after"].astype('float')
  dataset["before"]=dataset["before"].astype('float')

  a=20
  b=420
  list_a = []

  for i in range(0,25):
    list_a.append(dataset['before'].iloc[a:b].max())
    a+=400
    b+=400

  a=20
  b=420
  list_b = []

  for i in range(0,25):
    list_b.append(dataset['before'].iloc[a:b].min())
    a+=400
    b+=400

  dataset_minmax=pd.DataFrame()

  dataset_minmax['max']=pd.DataFrame(list_a)
  dataset_minmax['min']=pd.DataFrame(list_b)

  datadiff = dataset_minmax.diff(axis=1)
  datadiff = datadiff.drop(['max'], axis=1)

  dataset=pd.concat([dataset_minmax, datadiff], axis=1)
  dataset.columns = ['max', 'min', 'diff']

  x_des =dataset.describe()
  data1 = x_des.round(5)

  feature_data = pd.DataFrame(columns = ['max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])
  feature_data.loc[0] = [data1.iloc[1]['max'], data1.iloc[2]['max'], data1.iloc[3]['max'], data1.iloc[7]['max'], data1.iloc[1]['min'], data1.iloc[2]['min'], data1.iloc[3]['min'], data1.iloc[7]['min'], data1.iloc[1]['diff'], data1.iloc[2]['diff'], data1.iloc[3]['diff'], data1.iloc[7]['diff']]

  return feature_data

In [ ]:
if __name__=="__main__":
  dataset_path = '/content/drive/MyDrive/weka/dataset'
  last_dataset=pd.DataFrame(columns = ['max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max', 'classfi'])

  if not os.path.isdir(dataset_path):
    exit()
  else:
    file_list = os.listdir(dataset_path)
    for fl in range(len(file_list)):
      data_name = file_list[fl]
      name2=data_name[9:-10]
      last_dataset = last_dataset.append(main_start(data_name), ignore_index=True)
      last_dataset.loc[fl, 'classfi'] = name2

In [ ]:
last_dataset

,max_mean,max_std,max_min,max_max,min_mean,min_std,min_min,min_max,diff_mean,diff_std,diff_min,diff_max,classfi
0,0.3460,0.10605,0.165,0.570,-0.6418,0.08965,-0.755,-0.425,-0.9878,0.09100,-1.160,-0.775,Person_10
1,0.9026,0.19496,0.585,1.290,-0.5016,0.17579,-0.775,-0.155,-1.4042,0.13667,-1.605,-1.120,Person_10
2,0.6366,0.16250,0.445,1.150,-0.4348,0.13251,-0.560,-0.010,-1.0714,0.10657,-1.270,-0.885,Person_10
3,0.6582,0.22179,0.385,1.205,-0.5102,0.18572,-0.705,-0.100,-1.1684,0.07435,-1.305,-0.990,Person_10
4,0.7266,0.18563,0.455,1.210,-0.5302,0.15508,-0.650,0.020,-1.2568,0.10159,-1.430,-1.075,Person_10
5,0.2394,0.47856,-0.300,1.140,-0.7882,0.38870,-1.255,0.005,-1.0276,0.20541,-1.515,-0.735,Person_09
6,-0.4548,0.15902,-0.830,-0.110,-1.3418,0.15739,-1.690,-1.060,-0.8870,0.07617,-1.065,-0.750,Person_09
7,0.6042,0.18965,0.180,0.880,-0.4490,0.17174,-0.790,-0.155,-1.0532,0.13143,-1.315,-0.805,Person_09
8,0.7814,0.14831,0.575,1.010,-0.3146,0.16283,-0.590,-0.010,-1.0960,0.10078,-1.270,-0.915,Person_09
9,0.7880,0.15123,0.430,1.025,-0.2762,0.15274,-0.580,0.065,-1.0642,0.10687,-1.295,-0.895,Person_09
10,1.0532,0.22876,0.500,1.375,-0.2668,0.16540,-0.685,-0.080,-1.3200,0.13266,-1.510,-0.850,Person_03
11,0.9300,0.17556,0.340,1.150,-0.3724,0.09494,-0.535,-0.210,-1.3024,0.13907,-1.475,-0.850,Person_03
12,0.9706,0.22386,0.450,1.315,-0.5358,0.17733,-0.845,-0.310,-1.5064,0.21125,-1.815,-0.920,Person_03
13,1.2480,0.11880,1.050,1.520,-0.2704,0.07364,-0.395,-0.115,-1.5184,0.10016,-1.765,-1.310,Person_03
14,1.4852,0.17966,0.980,1.760,-0.0544,0.26051,-0.565,0.275,-1.5396,0.13305,-1.790,-1.250,Person_03
15,0.6538,0.09732,0.450,0.890,-0.2952,0.06319,-0.385,-0.145,-0.9490,0.08127,-1.085,-0.790,Person_02
16,0.3984,0.07784,0.255,0.510,-0.3616,0.02515,-0.405,-0.320,-0.7600,0.07540,-0.860,-0.620,Person_02
17,0.5646,0.09584,0.360,0.725,-0.2316,0.08102,-0.385,-0.090,-0.7962,0.04664,-0.880,-0.700,Person_02
18,0.6310,0.21247,0.235,0.985,-0.4824,0.19573,-0.810,-0.105,-1.1134,0.12252,-1.295,-0.870,Person_02
19,0.1006,0.27007,-0.730,0.530,-0.6638,0.29315,-1.485,-0.260,-0.7644,0.14760,-1.215,-0.535,Person_02
20,0.8154,0.07247,0.680,0.950,-0.1554,0.05070,-0.255,-0.080,-0.9708,0.04845,-1.040,-0.825,Person_01
21,0.7636,0.28542,0.610,2.115,-0.2348,0.08739,-0.625,-0.160,-0.9984,0.36468,-2.740,-0.855,Person_01
22,0.7858,0.06796,0.655,0.940,-0.2740,0.04659,-0.360,-0.160,-1.0598,0.05597,-1.175,-0.950,Person_01
23,0.9726,0.08786,0.705,1.145,-0.2268,0.05581,-0.395,-0.155,-1.1994,0.11633,-1.385,-0.875,Person_01
24,0.7794,0.17857,0.455,1.305,-0.4478,0.17571,-0.680,0.120,-1.2272,0.10732,-1.420,-1.080,Person_01

In [ ]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka. 
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values. 
              To suppress this, set this to False
    """
    import re
    
    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"
            
    dfcopy = df #all cleaning operations get done on this copy

    
    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type
 
    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}" 
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n") 
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")           
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [ ]:
pandas2arff(last_dataset,"/content/drive/MyDrive/weka/data/dataset.arff")

True

In [ ]:
last_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   max_mean   25 non-null     float64
 1   max_std    25 non-null     float64
 2   max_min    25 non-null     float64
 3   max_max    25 non-null     float64
 4   min_mean   25 non-null     float64
 5   min_std    25 non-null     float64
 6   min_min    25 non-null     float64
 7   min_max    25 non-null     float64
 8   diff_mean  25 non-null     float64
 9   diff_std   25 non-null     float64
 10  diff_min   25 non-null     float64
 11  diff_max   25 non-null     float64
 12  classfi    25 non-null     object
dtypes: float64(12), object(1)
memory usage: 2.7+ KB