<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/Data_analysis_Peak_and_row(filtering).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [ ]:
def main_start(file_name):
  file_full = dataset_path + '/' + file_name
  df = pd.read_csv(file_full, skiprows=[1, 2])

  stripdata=df['signal'].str.strip("[")
  stripdata=stripdata.str.strip("]")
  data = stripdata.str.split(',', expand=True)

  data_num=df['row_num']
  dataset=pd.concat([data_num, data], axis=1)
  dataset.columns = ['row_num', 'before', 'after']

  dataset["after"]=dataset["after"].astype('float')
  dataset["before"]=dataset["before"].astype('float')

  a=20
  b=420
  list_a = []

  for i in range(0,25):
    list_a.append(dataset['after'].iloc[a:b].max())
    a+=400
    b+=400

  a=20
  b=420
  list_b = []

  for i in range(0,25):
    list_b.append(dataset['after'].iloc[a:b].min())
    a+=400
    b+=400

  dataset_minmax=pd.DataFrame()

  dataset_minmax['max']=pd.DataFrame(list_a)
  dataset_minmax['min']=pd.DataFrame(list_b)

  datadiff = dataset_minmax.diff(axis=1)
  datadiff = datadiff.drop(['max'], axis=1)

  dataset=pd.concat([dataset_minmax, datadiff], axis=1)
  dataset.columns = ['max', 'min', 'diff']

  x_des =dataset.describe()
  data1 = x_des.round(5)

  feature_data = pd.DataFrame(columns = ['max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])
  feature_data.loc[0] = [data1.iloc[1]['max'], data1.iloc[2]['max'], data1.iloc[3]['max'], data1.iloc[7]['max'], data1.iloc[1]['min'], data1.iloc[2]['min'], data1.iloc[3]['min'], data1.iloc[7]['min'], data1.iloc[1]['diff'], data1.iloc[2]['diff'], data1.iloc[3]['diff'], data1.iloc[7]['diff']]

  return feature_data

In [ ]:
if __name__=="__main__":
  dataset_path = '/content/drive/MyDrive/weka/dataset'
  last_dataset=pd.DataFrame(columns = ['max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max', 'classfi'])

  if not os.path.isdir(dataset_path):
    exit()
  else:
    file_list = os.listdir(dataset_path)
    for fl in range(len(file_list)):
      data_name = file_list[fl]
      name2=data_name[9:-10]
      last_dataset = last_dataset.append(main_start(data_name), ignore_index=True)
      last_dataset.loc[fl, 'classfi'] = name2

In [ ]:
last_dataset

,max_mean,max_std,max_min,max_max,min_mean,min_std,min_min,min_max,diff_mean,diff_std,diff_min,diff_max,classfi
0,0.4418,0.04661,0.225,0.470,-0.2810,0.01689,-0.315,-0.240,-0.7228,0.04937,-0.770,-0.500,Person_10
1,0.6590,0.02673,0.610,0.715,-0.4150,0.02268,-0.455,-0.360,-1.0740,0.03811,-1.140,-0.990,Person_10
2,0.4748,0.02870,0.410,0.525,-0.3502,0.02580,-0.395,-0.290,-0.8250,0.02750,-0.885,-0.770,Person_10
3,0.5088,0.04724,0.380,0.570,-0.3500,0.02194,-0.390,-0.295,-0.8588,0.04850,-0.950,-0.730,Person_10
4,0.6520,0.02097,0.610,0.685,-0.3534,0.01586,-0.380,-0.320,-1.0054,0.02036,-1.030,-0.960,Person_10
5,0.4720,0.08157,0.285,0.630,-0.2724,0.06708,-0.475,-0.105,-0.7444,0.08992,-0.860,-0.540,Person_09
6,0.3032,0.06426,0.165,0.410,-0.2516,0.04432,-0.360,-0.135,-0.5548,0.08173,-0.735,-0.430,Person_09
7,0.3804,0.05377,0.280,0.485,-0.1742,0.04832,-0.235,-0.085,-0.5546,0.08334,-0.665,-0.395,Person_09
8,0.4448,0.02667,0.380,0.490,-0.2714,0.08024,-0.385,-0.105,-0.7162,0.08598,-0.840,-0.545,Person_09
9,0.4104,0.03942,0.290,0.465,-0.2652,0.06843,-0.340,-0.110,-0.6756,0.07718,-0.775,-0.485,Person_09
10,0.7418,0.12761,0.190,0.845,-0.1258,0.02262,-0.175,-0.085,-0.8676,0.13549,-1.005,-0.295,Person_03
11,0.6954,0.12772,0.210,0.810,-0.1246,0.02876,-0.205,-0.085,-0.8200,0.13280,-0.935,-0.310,Person_03
12,0.8554,0.20104,0.220,1.075,-0.1450,0.03388,-0.215,-0.085,-1.0004,0.20601,-1.270,-0.325,Person_03
13,0.8698,0.07753,0.675,0.970,-0.1384,0.01999,-0.180,-0.090,-1.0082,0.08435,-1.105,-0.765,Person_03
14,0.9148,0.06469,0.810,1.105,-0.1518,0.03921,-0.245,-0.095,-1.0666,0.06508,-1.260,-0.940,Person_03
15,0.4746,0.04886,0.375,0.535,-0.2542,0.03608,-0.305,-0.185,-0.7288,0.06792,-0.825,-0.585,Person_02
16,0.3712,0.01970,0.335,0.400,-0.1776,0.01866,-0.210,-0.150,-0.5488,0.01685,-0.585,-0.515,Person_02
17,0.3776,0.03276,0.320,0.445,-0.2870,0.02972,-0.385,-0.260,-0.6646,0.03939,-0.740,-0.605,Person_02
18,0.3836,0.02054,0.355,0.440,-0.2368,0.01413,-0.260,-0.205,-0.6204,0.01797,-0.675,-0.585,Person_02
19,0.2878,0.06208,0.160,0.425,-0.2728,0.07285,-0.425,-0.065,-0.5606,0.08286,-0.755,-0.380,Person_02
20,0.6864,0.05133,0.575,0.780,-0.1776,0.01582,-0.215,-0.155,-0.8640,0.05777,-0.955,-0.730,Person_01
21,0.6916,0.10037,0.585,1.160,-0.1658,0.03300,-0.295,-0.135,-0.8574,0.12624,-1.455,-0.775,Person_01
22,0.7246,0.04352,0.610,0.815,-0.1612,0.01975,-0.195,-0.125,-0.8858,0.04871,-0.975,-0.745,Person_01
23,0.6204,0.05402,0.500,0.710,-0.1674,0.03247,-0.240,-0.120,-0.7878,0.06460,-0.895,-0.650,Person_01
24,0.6176,0.03943,0.560,0.725,-0.1406,0.02103,-0.180,-0.105,-0.7582,0.04153,-0.870,-0.685,Person_01

In [ ]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka. 
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values. 
              To suppress this, set this to False
    """
    import re
    
    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"
            
    dfcopy = df #all cleaning operations get done on this copy

    
    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type
 
    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}" 
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n") 
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")           
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [ ]:
pandas2arff(last_dataset,"/content/drive/MyDrive/weka/data/dataset.arff")

True

In [ ]:
last_dataset.info()