<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/Data_analysis_Peak_and_row(filtering).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [1]:
def main_start(file_name,plus,num):
  file_full = dataset_path + '/' + file_name
  df = pd.read_csv(file_full, skiprows=[1, 2])

  stripdata=df['signal'].str.strip("[")
  stripdata=stripdata.str.strip("]")
  data = stripdata.str.split(',', expand=True)

  data_num=df['row_num']
  dataset=pd.concat([data_num, data], axis=1)
  dataset.columns = ['row_num', 'before', 'after']

  dataset["after"]=dataset["after"].astype('float')
  dataset["before"]=dataset["before"].astype('float')

  a=20
  b=plus+20
  list_a = []

  for i in range(0,num):
    list_a.append(dataset['after'].iloc[a:b].max())
    a+=plus
    b+=plus

  a=20
  b=plus+20
  list_b = []

  for i in range(0,num):
    list_b.append(dataset['after'].iloc[a:b].min())
    a+=plus
    b+=plus

  dataset_minmax=pd.DataFrame()

  dataset_minmax['max']=pd.DataFrame(list_a)
  dataset_minmax['min']=pd.DataFrame(list_b)

  datadiff = dataset_minmax.diff(axis=1)
  datadiff = datadiff.drop(['max'], axis=1)

  dataset=pd.concat([dataset_minmax, datadiff], axis=1)
  dataset.columns = ['max', 'min', 'diff']

  x_des =dataset.describe()
  data1 = x_des.round(5)

  feature_data = pd.DataFrame(columns = ['count', 'max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])
  feature_data.loc[0] = [data1.iloc[0]['max'], data1.iloc[1]['max'], data1.iloc[2]['max'], data1.iloc[3]['max'], data1.iloc[7]['max'], data1.iloc[1]['min'], data1.iloc[2]['min'], data1.iloc[3]['min'], data1.iloc[7]['min'], data1.iloc[1]['diff'], data1.iloc[2]['diff'], data1.iloc[3]['diff'], data1.iloc[7]['diff']]

  return feature_data

In [4]:
if __name__=="__main__":
  num_lis = [18, 20, 23, 24, 25, 26, 27, 28, 29, 31, 33]
  dataset=pd.DataFrame(columns = ['count', 'max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max', 'classfi'])

  for nl in num_lis:
    temp = nl
    dataset_path = '/content/drive/MyDrive/weka/ECG(electrocardiogram) (1)/{}'.format(temp)
    last_dataset=pd.DataFrame(columns = ['count', 'max_mean','max_std', 'max_min', 'max_max', 'min_mean','min_std', 'min_min', 'min_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max', 'classfi'])

    if not os.path.isdir(dataset_path):
      exit()
    else:
      file_list = os.listdir(dataset_path)
      for fl in range(len(file_list)):
        data_name = file_list[fl]
        name2=data_name[9:-10]
        last_dataset = last_dataset.append(main_start(data_name,round(10010/temp),temp), ignore_index=True)
        last_dataset.loc[fl, 'classfi'] = name2
      dataset=dataset.append(last_dataset)

In [5]:
dataset

,count,max_mean,max_std,max_min,max_max,min_mean,min_std,min_min,min_max,diff_mean,diff_std,diff_min,diff_max,classfi
0,18.0,0.40333,0.04250,0.330,0.485,-0.19556,0.03714,-0.235,-0.085,-0.59889,0.05789,-0.665,-0.480,Person_09
0,20.0,0.45375,0.02114,0.410,0.490,-0.30825,0.03100,-0.385,-0.260,-0.76200,0.03782,-0.840,-0.695,Person_09
1,20.0,0.41825,0.03126,0.350,0.465,-0.29350,0.02300,-0.340,-0.240,-0.71175,0.04387,-0.780,-0.610,Person_09
0,23.0,0.76826,0.05520,0.645,0.845,-0.12761,0.02240,-0.175,-0.090,-0.89587,0.06279,-1.005,-0.780,Person_03
1,23.0,0.70348,0.11882,0.215,0.810,-0.12761,0.02779,-0.205,-0.095,-0.83109,0.11825,-0.935,-0.340,Person_03
0,24.0,0.45083,0.01176,0.430,0.470,-0.28271,0.01489,-0.315,-0.260,-0.73354,0.01625,-0.770,-0.705,Person_10
1,24.0,0.85562,0.20796,0.205,1.075,-0.14938,0.03281,-0.215,-0.100,-1.00500,0.22324,-1.270,-0.325,Person_03
2,24.0,0.62292,0.05367,0.500,0.710,-0.16875,0.03214,-0.240,-0.125,-0.79167,0.06218,-0.895,-0.650,Person_01
0,25.0,0.47200,0.08157,0.285,0.630,-0.27240,0.06708,-0.475,-0.105,-0.74440,0.08992,-0.860,-0.540,Person_09
1,25.0,0.30320,0.06426,0.165,0.410,-0.25160,0.04432,-0.360,-0.135,-0.55480,0.08173,-0.735,-0.430,Person_09
2,25.0,0.86980,0.07753,0.675,0.970,-0.13840,0.01999,-0.180,-0.090,-1.00820,0.08435,-1.105,-0.765,Person_03
3,25.0,0.91480,0.06469,0.810,1.105,-0.15180,0.03921,-0.245,-0.095,-1.06660,0.06508,-1.260,-0.940,Person_03
4,25.0,0.47460,0.04886,0.375,0.535,-0.25420,0.03608,-0.305,-0.185,-0.72880,0.06792,-0.825,-0.585,Person_02
5,25.0,0.72460,0.04352,0.610,0.815,-0.16120,0.01975,-0.195,-0.125,-0.88580,0.04871,-0.975,-0.745,Person_01
0,26.0,0.37019,0.01997,0.335,0.400,-0.17788,0.01834,-0.210,-0.150,-0.54808,0.01408,-0.575,-0.515,Person_02
1,26.0,0.69058,0.09848,0.585,1.160,-0.16481,0.03273,-0.295,-0.135,-0.85538,0.12397,-1.455,-0.775,Person_01
2,26.0,0.61442,0.04031,0.560,0.725,-0.14115,0.02155,-0.180,-0.100,-0.75558,0.04437,-0.870,-0.685,Person_01
0,27.0,0.50500,0.05002,0.380,0.570,-0.34741,0.02322,-0.390,-0.295,-0.85241,0.05525,-0.950,-0.705,Person_10
1,27.0,0.28019,0.06492,0.150,0.425,-0.27148,0.07248,-0.425,-0.045,-0.55167,0.09458,-0.750,-0.230,Person_02
2,27.0,0.68185,0.05344,0.575,0.780,-0.17556,0.01712,-0.215,-0.140,-0.85741,0.05981,-0.955,-0.730,Person_01
0,28.0,0.47107,0.03071,0.410,0.525,-0.34946,0.02569,-0.395,-0.290,-0.82054,0.02820,-0.875,-0.765,Person_10
1,28.0,0.65250,0.01993,0.610,0.685,-0.35143,0.01671,-0.380,-0.315,-1.00393,0.01978,-1.030,-0.960,Person_10
0,29.0,0.38241,0.02116,0.350,0.440,-0.23293,0.02038,-0.260,-0.160,-0.61534,0.01329,-0.640,-0.585,Person_02
0,31.0,0.37323,0.03698,0.255,0.445,-0.27484,0.04486,-0.385,-0.140,-0.64806,0.05392,-0.740,-0.510,Person_02
0,33.0,0.63682,0.07680,0.250,0.715,-0.39864,0.06066,-0.455,-0.090,-1.03545,0.13396,-1.140,-0.340,Person_10

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 0
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   max_mean   25 non-null     float64
 1   max_std    25 non-null     float64
 2   max_min    25 non-null     float64
 3   max_max    25 non-null     float64
 4   min_mean   25 non-null     float64
 5   min_std    25 non-null     float64
 6   min_min    25 non-null     float64
 7   min_max    25 non-null     float64
 8   diff_mean  25 non-null     float64
 9   diff_std   25 non-null     float64
 10  diff_min   25 non-null     float64
 11  diff_max   25 non-null     float64
 12  classfi    25 non-null     object
dtypes: float64(12), object(1)
memory usage: 2.7+ KB

In [6]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka. 
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values. 
              To suppress this, set this to False
    """
    import re
    
    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"
            
    dfcopy = df #all cleaning operations get done on this copy

    
    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type
 
    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}" 
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n") 
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")           
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [ ]:
pandas2arff(dataset,"/content/drive/MyDrive/weka/data_count.arff")

True