<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/diff__filtering_before_after.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# 데이터셋 구성

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/weka/dataset/20221115_Person_09_rec_1.csv", skiprows=[1,2])

In [ ]:
data

,row_num,_id,db_id,rcrd_id,signal
0,0.0,602b9de4fdea802a39d38d55,ecgiddb,Person_09/rec_1,"[0.3, 0.17]"
1,1.0,602b9de4fdea802a39d38d56,ecgiddb,Person_09/rec_1,"[0.17, 0.065]"
2,2.0,602b9df4fdea802a39d38d57,ecgiddb,Person_09/rec_1,"[0.195, -0.01]"
3,3.0,602b9df4fdea802a39d38d58,ecgiddb,Person_09/rec_1,"[0.08, -0.065]"
4,4.0,602b9df4fdea802a39d38d59,ecgiddb,Person_09/rec_1,"[-0.005, -0.09]"
...,...,...,...,...,...
9995,9995.0,602b9df4fdea802a39d3b460,ecgiddb,Person_09/rec_1,"[0.17, 0.06]"
9996,9996.0,602b9df4fdea802a39d3b461,ecgiddb,Person_09/rec_1,"[-0.005, 0.04]"
9997,9997.0,602b9df4fdea802a39d3b462,ecgiddb,Person_09/rec_1,"[-0.085, 0.02]"
9998,9998.0,602b9df4fdea802a39d3b463,ecgiddb,Person_09/rec_1,"[-0.145, 0.0]"
9999,9999.0,602b9df4fdea802a39d3b464,ecgiddb,Person_09/rec_1,"[-0.18, -0.02]"

In [ ]:
data1=data['signal'].str.strip("[")
data2=data1.str.strip("]")
data3 = data2.str.split(',', expand=True)

In [ ]:
data_num=data['row_num']

\

In [ ]:
dataset=pd.concat([data_num, data3], axis=1)

In [ ]:
dataset.columns = ['row_num', 'before', 'after']

In [ ]:
dataset

      row_num  before    after
0         0.0     0.3     0.17
1         1.0    0.17    0.065
2         2.0   0.195    -0.01
3         3.0    0.08   -0.065
4         4.0  -0.005    -0.09
...       ...     ...      ...
9995   9995.0    0.17     0.06
9996   9996.0  -0.005     0.04
9997   9997.0  -0.085     0.02
9998   9998.0  -0.145      0.0
9999   9999.0   -0.18    -0.02

[10000 rows x 3 columns]

In [ ]:
dataset["after"]=dataset["after"].astype('float')
dataset["before"]=dataset["before"].astype('float')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   row_num  10000 non-null  float64
 1   before   10000 non-null  float64
 2   after    10000 non-null  float64
dtypes: float64(3)
memory usage: 234.5 KB

# 필터링 전후 차이에 대한 통계값

In [ ]:
# 각 주기의 max 값 추출

a=20
b=420
list_a = []

for i in range(0,25):
  list_a.append(dataset['after'].iloc[a:b].max())
  a+=400
  b+=400

In [ ]:
# 각 주기의 min 값 추출

a=20
b=420
list_b = []

for i in range(0,25):
  list_b.append(dataset['after'].iloc[a:b].min())
  a+=400
  b+=400

In [ ]:
dataset_minmax=pd.DataFrame()

dataset_minmax['max']=pd.DataFrame(list_a)
dataset_minmax['min']=pd.DataFrame(list_b)

In [ ]:
 dataset_minmax

      max    min
0   0.460 -0.290
1   0.430 -0.335
2   0.445 -0.110
3   0.425 -0.305
4   0.465 -0.310
5   0.420 -0.340
6   0.290 -0.290
7   0.350 -0.285
8   0.370 -0.240
9   0.380 -0.285
10  0.365 -0.120
11  0.420 -0.285
12  0.450 -0.260
13  0.420 -0.315
14  0.425 -0.285
15  0.380 -0.285
16  0.410 -0.310
17  0.420 -0.295
18  0.395 -0.280
19  0.460 -0.120
20  0.420 -0.295
21  0.435 -0.305
22  0.385 -0.275
23  0.420 -0.125
24  0.420 -0.285

In [ ]:
# 각 주기의 max-min 값 추출

datadiff = dataset_minmax.diff(axis=1)
datadiff = datadiff.drop(['max'], axis=1)

In [ ]:
dataset=pd.concat([dataset_minmax, datadiff], axis=1)
dataset.columns = ['max', 'min', 'diff']

In [ ]:
dataset

      max    min   diff
0   0.460 -0.290 -0.750
1   0.430 -0.335 -0.765
2   0.445 -0.110 -0.555
3   0.425 -0.305 -0.730
4   0.465 -0.310 -0.775
5   0.420 -0.340 -0.760
6   0.290 -0.290 -0.580
7   0.350 -0.285 -0.635
8   0.370 -0.240 -0.610
9   0.380 -0.285 -0.665
10  0.365 -0.120 -0.485
11  0.420 -0.285 -0.705
12  0.450 -0.260 -0.710
13  0.420 -0.315 -0.735
14  0.425 -0.285 -0.710
15  0.380 -0.285 -0.665
16  0.410 -0.310 -0.720
17  0.420 -0.295 -0.715
18  0.395 -0.280 -0.675
19  0.460 -0.120 -0.580
20  0.420 -0.295 -0.715
21  0.435 -0.305 -0.740
22  0.385 -0.275 -0.660
23  0.420 -0.125 -0.545
24  0.420 -0.285 -0.705

# 필터링 전후 차이에 대한 통계량

In [ ]:
x_des =dataset.describe()
data1 = x_des.round(5)
data1

            max       min      diff
count  25.00000  25.00000  25.00000
mean    0.41040  -0.26520  -0.67560
std     0.03942   0.06843   0.07718
min     0.29000  -0.34000  -0.77500
25%     0.38500  -0.30500  -0.73000
50%     0.42000  -0.28500  -0.70500
75%     0.43000  -0.27500  -0.63500
max     0.46500  -0.11000  -0.48500